$border-color: #CFCFE4;
$button-border-radius:12px;
$card-border-radius:18px;
$color-shadow:#23235F30;
$text-color: #39414B;
$font-size:18px;
$line-height:18px;
$button-selected-background: #5FBF77;
$button-selected-text-color: #fff;